html,body {
	background-color: white;
	height: 100%;
}

#header {
	position:relative;
	width: 100%;
	margin-top: 20px;
	height: 90px;
	background-color: #7ECBE5;
	border-left: -5px;
	text-align: center;
	border-radius: 5px;
	margin-top:-8px;
	font-size: 35px;
	color: white;

}

h5 {
	display: inline;
}
h5:after{
	content:"\a";
	white-space: pre;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

a:visited {
    color: #6600FF;
}
.left {
    border-radius: 5px;
    border: none;
    background-color: white;
    width: 88%;
    float: left;
    padding-top: 5px;
    font-size: 20px;
}

.right {
    border-radius: 5px;
    background-color: white;
    width: 12%;
    float: right;
    padding-top: 2%;
}
#footer {
    position:fixed;
    bottom:0;
    left:0;
    border-radius: 5px;
    background-color: #7ECBE5;
    width: 99.7%;
    clear:both;
    text-align: center;
    color: black;
}

#textarea {
	padding-left: 35%;
    width: 50%;
}

#textareatitle {
	padding-left: 35%;
    width: 50%;
    font-weight: bold;
}

h6 {
	border-bottom: solid gray;
	width: 140px;
}