html, body {
	background-color: #3498db;
	font-family: 'Comfortaa', serif;
	height: 100%;

}

p.milk {
	font-size: 12px;
}

#container {
	min-height: 100%;
	margin-bottom: -330px;
	position: relative;
}


.wrapper {
	max-width: 800px;
	margin: 35px auto 0 auto;
	border: 1px solid #999999;
	padding: 60px;
	background: #fff;
	text-align: center;
	border: 2px solid;
	border-radius: 25px;
}

.wrapperbottom {
	max-width: 800px;
	margin: 35px auto 0 auto;
	border: 1px solid #999999;
	padding: 60px;
	background: #fff;
	text-align: center;
	border: 2px solid;
	border-radius: 25px;
}

.space {
	max-width: 800px;
	margin: 45px auto 0 auto;
	border: 1px solid #FFFFF6;
	padding: 60px;
	background: #FFFFF6;
	text-align: right;
}

img {
	max-height: 20px;
	max-width: auto;
}

#foots {
	height: 330px;
	position:auto;
}

.clearfoots {
	height: 330px;
	clear:both;
}


a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: #ccc;
}

.li,li {
	color: red;
}

.gitlist {
	margin-left: -35px;
}

.pointer {
	cursor: pointer;
}

span {
	color:black;
}

.indents{
	margin-left:-35px;
}
