html, body {
	background-color: #FFFFF6;
	font-family: 'Comfortaa', serif;
	height: 100%;

}

p.milk {
	font-size: 12px;
}

#container {
	min-height: 100%;
	margin-bottom: -330px;
	position: relative;
}

#wrapper {
	max-width: 800px;
	margin: 35px auto 0 auto;
	border: 1px solid #999999;
	padding: 60px;
	background: #fff;
	text-align: center;
}

.wrapper {
	max-width: 800px;
	margin: 35px auto 0 auto;
	border: 1px solid #999999;
	padding: 60px;
	background: #fff;
	text-align: center;
}

.space {
	max-width: 800px;
	margin: 45px auto 0 auto;
	border: 1px solid #FFFFF6;
	padding: 60px;
	background: #FFFFF6;
	text-align: right;
}

img {
	max-height: 2%;
	max-width: auto;
}

img.me {
	max-height: 6%;
	max-width: auto;
}

#foots {
	height: 330px;
	position:relative;
}

.clearfoots {
	height: 330px;
	clear:both;
}

span {
	color:black;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}
