body {
	background-color: #FAAC58;
	padding-left: 75px;
	padding-right: 75px;
}

h1 {
	color:black; font-size: 24px;
	}

p {
	font-size: 20px;
	font-family: Arial;
}

ul {
	font-style: italic;
}

ol {
	font-weight: bold;
}

h2 {
	color:black; font-size: 24px;
	}

h3 {
	color:black; font-size: 24px;
	}

h4 {
	color:black; font-size: 24px;
	}
h5 {
	color:black; font-size: 24px;
	}

h6 {
	color:black; font-size: 24px;
	}
.stats{
	color:red;
}

h1#title{
	font-size: 48px;
	font-family: Arial;
	font-weight: bold;
	color: Blue;
}