body {
	background-color: #B3995D;
	font-family: Ariel;
	border-right: 15px;
	border-left: 15px;
}

#header {
	position: relative;
	top: -10px;
	background-color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top:-20px;
	margin-bottom: -10px;

}

h1 {
	color: #97233F;
	text-align: center;
	font-size: 75px
}

#leftnav {
	background-color: white;
	position: relative;
	height: 800px;
	width:11%;
	margin-bottom: 10px;
	margin-top: -40px;
	float: left;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#center {
    position: relative;
    background-color: white;
    margin-top: -37px;
    width: 88%;
    height: 800px;
    float: right;
    margin-bottom: 10px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#list {
	color: #97233F;
	font-size: 25px;
}